<div class="dashboard-container" fxLayout="column">
<div class="topbar" fxFlex="100%"  fxLayoutAlign="center end">
  <div class="search-container" fxFlex="50%" fxFlex.lt-md="80%">
    <app-search></app-search>
  </div>
</div>
<ng-template #nodocument>
  <div fxLayoutAlign="center center" style="min-height: 80vh;" fxLayout="column">
    <img src="../../../assets/no-document.png" alt="no document found" width="100px">
    <p>Start creating your forms 📃</p>
    <div class="create" style="cursor: pointer;" fxLayoutAlign="center center" fxLayoutGap="20px"  routerLink="/create">
      <mat-icon style="transform: scale(1.5);color: dodgerblue">add</mat-icon>
      <span>
        click to create
      </span>
    </div>
  </div>
</ng-template>
<ng-container *ngIf="documentCollection;else nodocument">
  <div class="document-selection">
    your documents here...!
  </div>
</ng-container>
</div>