<mat-drawer-container class="example-container" autosize>
  <mat-drawer #leftDrawer class="example-sidenav" mode="side">
    <p>Left Side Drawer</p>
  </mat-drawer>
  <mat-drawer #rightDrawer class="example-sidenav" mode="side" position="end">
    <p>Right Side Drawer</p>
  </mat-drawer>
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="leftDrawer.open();rightDrawer.close()">
      Toggle Left Drawer
    </button>
    <button type="button" mat-button (click)="rightDrawer.open();leftDrawer.close()">
      Toggle Right Drawer
    </button>
  </div>
</mat-drawer-container>